#projects_content {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0px 0px 50px -20px black;
    gap: 30px;
}

.project h2 {
    font-size: 30px;
}

.project_content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.project:nth-child(odd) .project_content {
    flex-direction: row-reverse;
}

.project_content>img {
    width: clamp(300px, 50vw, 600px);
    /* height: clamp(100px, 50vw, 300px); */
    border-radius: 25px;
    box-shadow: 0px 0px 50px -20px black;
}

.project_infos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.project_infos>p {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    background-color: var(--dark_purple);
    padding: 25px;
    border-radius: 25px;
    border: 2px solid var(--dark_blue);
}

.project_infos p a {
    color: var(--light_blue);
}

.project_footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project_footer p {
    font-size: 18px;
    color: var(--light_blue);
}

.project_footer img {
    height: 30px;
    width: 30px;
}

.btn_see_more {
    padding: 10px;
    border-radius: 25px;
    border: 2px solid var(--dark_blue);
    background-color: var(--dark_purple);
    color: var(--white);
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.hidden {
    display: none;
}

.details .skills {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.details .skills {
    
}

@media screen and (max-width: 1400px) {
    .project {
        padding: 20px;
    }

    .project_content {
        flex-direction: column;
    }
}