body {
    --light_blue: #56dcfc;
    --blue: #197dff;
    --fade_light_blue: rgba(86, 220, 252, 0.15);
    --light_gray: #8ea9bf;
    --white: #f6f9fc;
    --fade_white: rgb(191, 182, 216);
    --dark_blue: #101d30;
    --fade_dark_blue: rgba(16, 29, 48, 0.9);
    --black_title: #2b3954;
    --black_text: #425466;
    --dark_purple: rgb(41, 41, 85);
    --purple: rgb(52, 52, 102);
    
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
}