#skill_content {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0px 0px 30px -15px black;
    gap: 30px;
}

.skill h2 {
    color: var(--black_title);
}

.skills_container ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
}

.skills_container li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.skills_container img {
    height: 100px;
    width: 100px;
    transition: scale 0.5s;
}

.skills_container img:hover {
    scale: 1.2;
}

.skills_container p {
    color: var(--black_text);
    width: 100px;
    text-align: center;
}

@media screen and (max-width: 1900px) {
    .skill {
        padding: 20px;
    }

    .skills_container ul {
        gap: 20px;
    }
}